body {font-weight: 450;font-size: 25px;font-family: Arial, sans-serif; background-color:white;text-align: left;}
h1{font-size: 60px; color:grey;font-family: Tahoma, sans-serif;text-align: left;}
footer{text-align: left;}
